h1{
font-size: 50px;
text-align: center;
color: darkblue;
}

h2{
font-size: 30px;
text-align: center;
color: #lightblue;
}

p{
font-size: 20px;
text-align: center;
font-family: Arial;
font-weight: bold;
font-style: italic;
}
img{image-orientation: center;}
body {
background-color: whitesmoke;
}